<div class="container-fluid">
  <div class="row align-items-start">


    <div class="col">
      <ng-select
        placeholder="Reparto"
        class="custom"
        [items]="(allocations$ | async)"
        bindLabel="id"
        bindValue="categories"
        [(ngModel)]="categories"
        (change)="NgSelectCategories.handleClearClick()">
      </ng-select>
    </div>

    <div class="col">
      <ng-select
        placeholder="Categoria"
        #NgSelectCategories [items]="categories"
        bindLabel="name"
        bindValue="name"
        [(ngModel)]="selectedCategory">
      </ng-select>
    </div>

    <div class="col">
      <ng-select [items]="(brands$ | async)"
                 placeholder="Marca"
                 bindLabel="id"
                 bindValue="id"
                 [(ngModel)]="selectedBrand">
      </ng-select>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Modello</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="modello">
    </div>
  </div>

</div>






