<div class="container">


  <div class="row">
<!--    <div class="form-group col-md-6">-->
<!--      <label for="yesno">Not searchable</label>-->
<!--      <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"-->
<!--                 formControlName="agree">-->
<!--        <ng-option [value]="true">Yes</ng-option>-->
<!--        <ng-option [value]="false">No</ng-option>-->
<!--      </ng-select>-->

<!--    </div>-->
    <div class="col-2 text-right" ><label class="form-label"><b>Reparto</b></label></div>
    <div class="col-10 form-control" >
      <ng-select
        placeholder="Reparto"
        class="custom"
        [items]="(allocations$ | async)"
        bindLabel="id"
        bindValue="categories"
        [(ngModel)]="categories"
        [dropdownPosition]="'bottom'"
        (change)="NgSelectCategories.handleClearClick()">
      </ng-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-2 text-right"><label class="form-label"><b>Categoria</b></label></div>
    <div class="col-10">
      <ng-select
        placeholder="Categoria"
        #NgSelectCategories [items]="categories"
        bindLabel="name"
        bindValue="name"
        [dropdownPosition]="'bottom'"
        [(ngModel)]="selectedCategory">
      </ng-select>
    </div>
  </div>


  <div class="row mb-2">

    <div class="col-2 text-right"><label class="form-label"><b>Marca</b></label></div>
    <div class="col-10">
      <ng-select [items]="(brands$ | async)"
                 [dropdownPosition]="'bottom'"
                 placeholder="Marca"
                 bindLabel="id"
                 bindValue="id"
                 [(ngModel)]="selectedBrand">
      </ng-select>
    </div>
  </div>


  <div class="row mb-2">

    <div class="col-2 text-right"><label class="form-label"><b>Modello</b></label></div>
    <div class="col-10">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Modello">
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-2 text-right"><label for="exampleFormControlTextarea2" class="form-label"><b>Titolo annuncio</b></label></div>
    <div class="col-10"><input type="text" class="form-control" id="exampleFormControlTextarea2"
                               placeholder="Titolo annuncio"></div>
  </div>
  <div class="row">
    <div class="col-2 text-right"><label for="exampleFormControlTextarea1" class="form-label"><b>Testo annuncio</b></label></div>
    <div class="col-10"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                  placeholder="Testo annuncio"></textarea></div>
  </div>

  <!--    <div class="col-6">-->
  <!--      <ng-select-->
  <!--        placeholder="Reparto"-->
  <!--        class="custom"-->
  <!--        [items]="(allocations$ | async)"-->
  <!--        bindLabel="id"-->
  <!--        bindValue="categories"-->
  <!--        [(ngModel)]="categories"-->
  <!--        (change)="NgSelectCategories.handleClearClick()">-->
  <!--      </ng-select>-->
  <!--    </div>-->
  <!--    <div class="col-6">-->
  <!--      <ng-select-->
  <!--        placeholder="Categoria"-->
  <!--        #NgSelectCategories [items]="categories"-->
  <!--        bindLabel="name"-->
  <!--        bindValue="name"-->
  <!--        [(ngModel)]="selectedCategory">-->
  <!--      </ng-select>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-2">-->
  <!--    <div class="col-6">-->
  <!--      <ng-select [items]="(brands$ | async)"-->
  <!--                 placeholder="Marca"-->
  <!--                 bindLabel="id"-->
  <!--                 bindValue="id"-->
  <!--                 [(ngModel)]="selectedBrand">-->
  <!--      </ng-select>-->
  <!--    </div>-->
  <!--    <div class="col-6">-->
  <!--      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Modello">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-2">-->
  <!--    <div class="col-2"><label for="exampleFormControlTextarea2" class="form-label"><b>Titolo annuncio</b></label></div>-->
  <!--    <div class="col-10"><input type="text" class="form-control" id="exampleFormControlTextarea2" placeholder="Titolo annuncio"></div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-2"><label for="exampleFormControlTextarea1" class="form-label"><b>Testo annuncio</b></label></div>-->
  <!--    <div class="col-10"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Testo annuncio"></textarea></div>-->
  <!--  </div>-->


  <!--  <div class="row mb-2">-->
  <!--    <div class="col-6">-->
  <!--      <div class="col-2"><label  class="form-label"><b>Reparto</b></label></div>-->
  <!--      <div class="col-10"></div>-->
  <!--    </div>-->
  <!--    <div class="col-6">-->
  <!--      <div class="col-2"><label  class="form-label"><b>Reparto</b></label></div>-->
  <!--      <div class="col-10"></div>-->
  <!--    </div>-->
  <!--  </div>-->

</div>

